[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick

[label "Code-Review"]
	abbreviation = R
	value = -1 Don't submit as-is
	value =  0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
	abbreviation = CQ
	value =  0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
[label "Verified"]

[access "refs/*"]
	owner = group naclports-owners
	create = group naclports-owners
	push = group naclports-owners
	createTag = group naclports-owners

[access "refs/for/refs/*"]
	push = group Registered Users
	create = group Registered Users
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group naclports-committers
	forgeAuthor = group naclports-committers

[access "refs/heads/*"]
	label-Code-Review = -1..+1 group naclports-committers
	submit = group naclports-committers
	label-Commit-Queue = +0..+1 group Registered Users
	label-Commit-Queue = +0..+2 group naclports-committers
	label-Commit-Queue = +0..+2 group ldap/eng
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	submit = group chrome-commit-bot
	push = group chrome-commit-bot
	forgeAuthor = group chrome-commit-bot
	create = group naclports-owners
	push = group naclports-committers
